<div fxFill fxLayout="column">
  <md-toolbar color="primary">
    <button md-icon-button (click)="toggleSidenav()">
      <md-icon>menu</md-icon>
    </button>
    <span fxLayoutAlign="center center" style="padding: 5px 35px 0 0">
      <a routerLink="">
        <img src="../assets/azzaip-white.svg"
             height="42"
             width="150"
             fxLayoutAlign="center center" />
      </a>
    </span>
    <span fxFlex></span>
    <md-menu #appMenu="mdMenu" y-position="below" [overlapTrigger]="false">
      <button md-menu-item (click)="settings()"> Settings </button>
      <button md-menu-item (click)="logOut()"> Log Out </button>
    </md-menu>

    <button md-button [mdMenuTriggerFor]="appMenu" fxLayoutAlign="end stretch">
      {{utln}}
    </button>
  </md-toolbar>
  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" [opened]="isOpen" class="site-sidenav hide-print">
      <nav-menu-container fxFlex color="accent">
        <nav-menu-header label="Courses">
          <nav-menu-link *ngFor="let course of (courses | async)"
                         link="course/{{course.access_point_name}}">
            {{course.access_point_name}}
          </nav-menu-link>
        </nav-menu-header>
        <nav-menu-header label="Admin" *ngIf="isAdmin">
          <nav-menu-toggle label="Post">
            <nav-menu-link *ngFor="let course of (managed | async)"
                           link="post/{{course.access_point_name}}">
              {{course.access_point_name}}
            </nav-menu-link>
          </nav-menu-toggle>
        </nav-menu-header>
      </nav-menu-container>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
