<div fxFill fxLayout="column">
  <md-toolbar color="primary">AzziaP</md-toolbar>
  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened="true" class="site-sidenav hide-print" style="background: #106CC8">
      <nav-menu-container>
        <nav-menu-header label="Courses">
          <nav-menu-link link="">COMP 15</nav-menu-link>
          <nav-menu-link link="">COMP 00</nav-menu-link>
          <nav-menu-link link="">COMP 20</nav-menu-link>
        </nav-menu-header>
        <nav-menu-header label="Admin">
          <nav-menu-toggle label="Post">
            <nav-menu-link link="">COMP 15</nav-menu-link>
            <nav-menu-link link="">COMP 00</nav-menu-link>
          </nav-menu-toggle>
        </nav-menu-header>
      </nav-menu-container>
    </md-sidenav>
    <div>Other content!</div>
  </md-sidenav-container>
</div>
